#info {
        border-collapse: collapse;
        border: none;
        width: 100%;
        text-align: center;

        .title {
                background: #f9fafc;
                font-size: 12px;

                .handle_ {
                        width: 100px;
                }
        }

        .wraps_ {
                tr {
                        height: 40px;
                }
        }

        tr {
                height: 40px;
                line-height: 40px;
        }

        tr {
                border: solid #eeeeee 1px;
        }
}

::v-deep .el-input__inner {
        border: none;
}